<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>locks</title>
    <!-- bootstrp CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PassWord Save</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'create' %}">ADD PASSWORD</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'account' %}">Profile</a>
                        </li>
                        {% else %}
                        {% endif %}
                        
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    
                        
                            {% if user.is_authenticated %}
                           
                            
                                <li>
                                    <a><button class="btn btn-outline-success"><strong>Welcome: {{user}}</button></strong></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}"><button class="btn btn-outline-success"
                                            type="submit"><strong>LOGOUT</strong></button></a></li>
                                {% else %}
                                <br>
                                <li><a class='dropdown-item' href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span><button
                                            class="btn btn-outline-success" type="submit"><strong>LOGIN</strong></button></a></li>
                                <li><a class='dropdown-item' href="{%url 'register'%}"><span class="glyphicon glyphicon-user"></span><button
                                            class="btn btn-outline-success" type="submit"><strong>SignUp</strong></button></a></li>
                    
                                {% endif %}
                            </ul>
                </div>
            </div>
        </nav>
    </nav>
    <div class="container">
        {% block content %}

        {% endblock content %}

    </div>





    <!-- JavaScript Bundle with Popper
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>